:root {
  --brandgreen: #81b214;
  --brandorange: #ffc074;
  --brandwhitishgreen: #efefe7;
  --brandblack: #113831;
  --brandbrown: #564a4a;
  --branddarkGreen: #206a5d;
  --accentorange: #eaebd8;
  --accentgreen: #bfdcae;
  --white: #ffff;
  --gap: 2.4rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.primaryHeading {
  font-family: "Elsie", cursive;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 7.8rem;
}
.secondaryHeading {
  font-family: "Elsie", cursive;
  font-style: normal;
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 6.4rem;
}
.tertiaryHeading {
  font-family: "Elsie", cursive;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 4.2rem;
}
.subHeading {
  font-family: "Elsie", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 5.6rem;
}
.headingCTA {
  font-family: "Elsie", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
/* Styles */

/* //////////////////////////////////////Sans Serif///////// */
/* //////////////////Regular///////////////////// */
.regular14 {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.regular16 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.regular18 {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.regular24 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.regular32 {
  font-size: 3.2rem;
  line-height: 4.2rem;
}
.regular42 {
  font-size: 4.2rem;
  line-height: 5.6rem;
}
/* //////////////////////////Bold/////////////////////////// */

.bold16 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.bold16 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.bold18 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.bold24 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.bold32 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.2rem;
}
.bold42 {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.6rem;
}
.bold56 {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 6.4rem;
}
.bold64 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.8rem;
}
.bold78 {
  font-weight: 700;
  font-size: 7.8rem;
  line-height: 8.6rem;
}
.topmargin {
  margin-top: 9.6rem;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  align-content: space-between;
}
/* ////////////////////////////////General//////////////////////////////////// */
.list-icons {
  display: flex;
  gap: 4.8rem;
  justify-content: flex-end;
}
button {
  border: none;
  background: none;
}
.green {
  color: var(--brandgreen);
}
.darkgreen {
  color: var(--branddarkGreen);
}
.darkbrown {
  color: var(--brandbrown);
}
.lightblack {
  color: #555;
}
.accentorange {
  color: var(--accentorange);
}
.accentgreen {
  color: var(--accentgreen);
}
.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
}
textarea {
  resize: none;
}
.nav-list li a :hover {
  color: white;
}
/* ////////////////////////Breakpoints Idea */
/* First braek point 1200 */
/* above 1440 set container margi to LR auto  */
.hero-cta:hover,
.hero-cta:active {
  transform: translate(0.8rem, 0);
}

.primary-cta:hover,
.primary-cta:active {
  background: #6b8e1d;
  transition: all 0.3s;
}
.footer-icon:hover,
.footer-icon:active {
  /* background: #6b8e1d; */
  /* color: var(--brandblack); */
  box-sizing: border-box;
  box-shadow: 0 0 0 0.8rem rgba(255, 255, 255, 0.176);
  transition: all 0.3s;
}
.footer-cta:hover {
  background: #6b8e1d;
  transition: all 0.3s;
}
.submit:hover,
.submit:active {
  background: #ffab47;
  transition: all 0.3s;
}
.nav-list .list-item:hover {
  background: var(--brandwhitishgreen);
  transition: all 0.4s;
}
.nav-list .list-item:active {
  transform: scale(1.1);
}
.nav-list .list-item:last-child:hover {
  background: none;
  transform: none;
}
.hero-icon:hover,
.hero-icon:active {
  box-shadow: 0 0 0 0.8rem rgba(85, 85, 85, 0.3);
  transition: all 0.3s;
}
.burger {
  display: none;
}
.list-item .hero-icons {
  display: none;
}
.logo {
  max-height: 2.4rem;
}
